.push-when-menu-open {
    padding-left: 0;
    transition: padding .15s ease-in-out;

    &.menu-open {
        padding-left: em(388px);
    }

    @media (min-width: 769px) {
        &,
        &.menu-open {
            padding-left: em(388px);
        }
    }
}

.menu {
    &--side {
        @include display(flex);
        @include flex-direction(column);
        @include transform(translate3d(-100%, 0, 0));

        position: fixed;
        transition: transform .15s ease-in-out;
        top: 0;
        left: 0;
        width: em(388px);
        height: 100%;

        &.open {
            @include transform(translate3d(0, 0, 0));
        }

        @media (min-width: 769px) {
            &,
            &.open {
                @include transform(translate3d(0, 0, 0));
            }
        }
    }

    &__items {
        @include flex(1);

        list-style: none;
        margin: 0;
        padding: 0;

        .menu__items {
            @include flex(none);
        }
    }

    &__item {
        display: block;
        position: relative;
    }

    &__link {
        display: block;
        padding: em(15px) 0 em(15px) em(54px);
        text-decoration: none;
    }

    &__toggle {
        i {
            display: none;

            @media (max-width: 768px) {
                display: block;
            }
        }
    }
}
